---
version: '3.8'
services:
  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.1
    networks:
      - tyk
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.1
    environment:
      - discovery.type=single-node
    networks:
      - tyk
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
  tyk-pump-elasticsearch:
    image: tykio/tyk-pump-docker-pub:${PUMP_VERSION:-v1.8.3}
    networks:
      - tyk
    volumes:
      - ./deployments/analytics-kibana/volumes/tyk-pump/pump-elasticsearch.conf:/opt/tyk-pump/pump.conf
    environment:
      - TYK_INSTRUMENTATION=${INSTRUMENTATION_ENABLED:-0}
    depends_on:
      - elasticsearch
      - tyk-redis
      - tyk-mongo

volumes:
  elasticsearch-data:
