.modal-dialog{
  max-width: 530px;
}
.modal-content {
  border-radius: var(--tdp-login-form-border-radius);
}

.modal-header,
.modal-footer {
  border-top: 1px solid var(--tdp-neutral);
}

.modal-body{
  padding: 20px 30px 0px 30px;
  color: var(--tdb-text-default-subdue);
}
.modal-body p,
.modal-body ul {
  font-size: 13.2px;
}

.modal-body ul {
  list-style: disc;
  padding-left: 20px;
}

.modal-top-border {
  display: flex;
  background-color: var(--tdp-danger-light);
  background-clip: padding-box;
  color: var(--tdp-nav-link-color);
  z-index: 3000;
  margin-bottom: -35px;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.top-border{
  width: 100%;
  background-color: var(--tdp-danger-light);
  height: 15px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.modal-h3 {
  font-family: Inter-Semibold, sans-serif;
}