<div class="d-flex flex-column align-items-center justify-content-center flex-grow-1 login-page-wrapper" style="background: url('/assets/images/login.svg') center center no-repeat, linear-gradient(93.59deg, #36364C 19.75%, #505071 81.94%);">
  <div class="login-form-wrapper p-4">
    <h2 class="mb-5 text-center">Forgot Password?</h2>
    <form action="/auth/password/new" method="post" class="mb-5">
        {{ if .error }}
          <div class="alert alert-danger" role="alert">
            <i class="tyk-icon tykon tykon-warning "></i>
            <div class="alert__content">{{ .error }}</div>
          </div>
        {{ end }}
        {{ if .done }}
          <div class="alert alert-success" role="alert">
            <i class="tyk-icon tykon tykon-check "></i>
            <div class="alert__content">An email to reset password has been sent. Check your inbox.</div>
          </div>
        {{ else }}
          <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Your Email *" value="" required />
            <input type="hidden" name="origin" value="form">
          </div>
          <div class="form-group text-center">
            <input type="submit" name="submit" class="btn btn-primary" value="Reset" />
          </div>
        {{end}}
    </form>
  </div>
</div>