Hello,
<p>
The organisation registration request has been approved. You can now manage your organisation in your dashboard here: https://{{.site}}/portal/private/dashboard
</p>
<br/>
Thanks,
</br>
The team