There is a new organisation registration request pending. Please approve it from the admin console.
The organisation name: {{ .organisationName }}.
The user: {{ .user.DisplayName }} ({{ .user.Email }}).