<h1>Welcome to the Developer portal</h1>

Hi, <strong>{{.user.First}} {{.user.Last}}</strong>.<br/>
Thank you for registering with the Developer Portal. Your developer profile has been created.

If you did not perform this action, please contact the customer support team at customer@support.com.