There is a new organisation registration request pending. Please approve it from the admin console.<br/>
The organisation name: {{ .organisationName }}.<br/>
The user: {{ .user.DisplayName }} ({{ .user.Email }}).<br/>