<h1>Welcome to the Developer portal</h1>

Hi, <strong>{{.user.First}} {{.user.Last}}</strong>.<br/>
Thank you for registering with the Developer Portal. Your admin profile has been created.
Once your profile is activated, you can manage the developer portal content by logging in portal at https://portal.com/admin.

If you did not perform this action, please contact the customer support team at customer@support.com.