{{ $cred := .cred }}
{{ $app := .app }}

{{ if $cred.Credential }}
{{ render "confirmation_modal" (dict
  "id" (printf "rotate-%d" $cred.ID)
  "title" "Rotate Credentials"
  "body" (raw "<p>By rotating the credentials, you will receive a new set of credentials and the old ones won't apply anymore.</p><p>Do you wish to continue?</p>")
  "confirmText" "Rotate credentials"
  "confirmClass" "btn-primary"
  "formAction" "/portal/private/credentials"
  "hiddenFields" (dict "mode" "roll" "cred_id" $cred.ID "client_id" $app.ID)
) }}
{{ end }}

{{ render "confirmation_modal" (dict
  "id" (printf "revoke-%d" $cred.ID)
  "title" "Revoke credentials?"
  "body" (raw "<p>Revoking the credentials means it will no longer grant access to the given API product(s) and plan.</p><p>Do you wish to continue?</p>")
  "confirmText" "Revoke credentials"
  "confirmClass" "btn-danger"
  "formAction" "/portal/private/credentials"
  "hiddenFields" (dict "mode" "delete" "cred_id" $cred.ID "client_id" $app.ID)
) }}
