---
services:
  tyk-portal:
    image: tykio/portal:${PORTAL_VERSION:-v1.15.0}
    networks:
      - tyk
    environment:
      - PORTAL_HOSTPORT=3001
      - PORTAL_REFRESHINTERVAL=10
      - PORTAL_AUDIT_LOG_ENABLE=true
      - PORTAL_AUDIT_LOG_PATH=/opt/portal/logs
      - PORTAL_LOG_LEVEL=debug
      - PORTAL_LOG_FORMAT=dev
      - PORTAL_DATABASE_DIALECT=postgres
      - PORTAL_DATABASE_CONNECTIONSTRING=host=tyk-portal-postgres port=5432 dbname=portal user=admin password=secr3t sslmode=disable
      - PORTAL_DATABASE_MAXRETRIES=5
      - PORTAL_DATABASE_RETRYDELAY=5000
      - PORTAL_THEMING_THEME=${PORTAL_THEMING_THEME:-default}
      - PORTAL_THEMING_PATH=/opt/portal/themes
      - PORTAL_STORAGE=fs
      - PORTAL_LICENSEKEY=${DASHBOARD_LICENCE:?Licence missing from Docker environment file .env.}
      - PORTAL_DOCRENDERER=stoplight
      - PORTAL_TIB_ENABLED=true
    env_file:
      - .env
    ports:
      - 3100:3001
    entrypoint: /opt/portal/dev-portal
    volumes:
      - ./deployments/portal/volumes/logs:/opt/portal/logs
      - ./deployments/portal/volumes/assets:/opt/portal/public/system
      - ./deployments/portal/volumes/theme/:/opt/portal/themes
  tyk-portal-postgres:
    image: postgres:16-alpine
    networks:
      - tyk
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secr3t
      - POSTGRES_DB=portal
    ports:
      - 5432:5432
