<!-- Template used for the Home page -->

{{ $user := CurrentUser req }}

<div class="home-page-wrapper">
  <header class="dark-to-light-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="text-container">
            <h1>{{.page.Title}}</h1>
            <p>
            {{if .blocks.HeaderDescription.MarkdownEnabled}}
              {{safe_md .blocks.HeaderDescription.MarkdownContent}}
            {{else}}
              {{safe .blocks.HeaderDescription.Content}}
            {{end}}
            </p>
            <a href="{{.blocks.HeaderButtonLink.Content}}" class="btn btn-primary">{{ safe .blocks.HeaderButtonLabel.Content}}</a>
          </div>
        </div>
        <div class="col-sm-6 image-container" style="background: url('/assets/images/tyk-portal-silhouette.png') no-repeat left center;">
          {{.blocks.BackgroundImage.Image.URL}}</div>
      </div>
    </div>
  </header>

  {{ if .blocks.UseCasesTitle.Content }}
    <div class="container text-center use-cases">
      <h2>{{ safe .blocks.UseCasesTitle.Content}}</h2>
      <p>
        {{if .blocks.UseCasesDescription.MarkdownEnabled}}
          {{ safe_md .blocks.UseCasesDescription.MarkdownContent}}
        {{else}}
          {{ safe .blocks.UseCasesDescription.Content}}
        {{end}}
      </p>
      <div class="row">
        <div class="col-sm-4 mt-4">
          <img class="mb-3 m-auto" src="/assets/images/use-cases/consumers.svg"/>
          <h3 class="mb-4">{{ safe .blocks.UseCase1Title.Content}}</h3>
          <p class="pr-3">
            {{if .blocks.UseCase1Description.MarkdownEnabled}}
              {{ safe_md .blocks.UseCase1Description.MarkdownContent}}
            {{else}}
              {{ safe .blocks.UseCase1Description.Content}}
            {{end}}
          </p>
        </div>
        <div class="col-sm-4 mt-4">
          <img class="mb-3 m-auto" src="/assets/images/use-cases/business.svg"/>
          <h3 class="mb-4">{{ safe .blocks.UseCase2Title.Content}}</h3>
          <p class="pr-3">
            {{if .blocks.UseCase2Description.MarkdownEnabled}}
              {{ safe_md .blocks.UseCase2Description.MarkdownContent}}
            {{else}}
              {{ safe .blocks.UseCase2Description.Content}}
            {{end}}
          </p>
        </div>
        <div class="col-sm-4 mt-4">
          <img class="mb-3 m-auto" src="/assets/images/use-cases/research.svg"/>
          <h3 class="mb-4">{{ safe .blocks.UseCase3Title.Content}}</h3>
          <p class="pr-3">
            {{if .blocks.UseCase3Description.MarkdownEnabled}}
              {{ safe_md .blocks.UseCase3Description.MarkdownContent}}
            {{else}}
              {{ safe .blocks.UseCase3Description.Content}}
            {{end}}
          </p>
        </div>
      </div>
    </div>
  {{end}}

  {{ if .blocks.FlipFlopRightImageTitle1.Content }}
    <div class="dark-to-light-bg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="text-container">
              <h2>{{ safe .blocks.FlipFlopRightImageTitle1.Content}}</h2>
              <p>{{ safe .blocks.FlipFlopRightImageSubTitle1.Content}}</p>
                <div class="step-wrapper">
                  {{if .blocks.FlipFlopRightImageDescription1.MarkdownEnabled}}
                    {{safe_md .blocks.FlipFlopRightImageDescription1.MarkdownContent}}
                  {{else}}
                    {{safe .blocks.FlipFlopRightImageDescription1.Content}}
                  {{end}}
                </div>
              </div>
          </div>
          <div class="col-sm-6 mobile-hide">
            <div class="row inner-container">
              <div class="col-sm-6 text-wrapper p-5 content-wrapper">
                <div class="content-wrapper__content d-block">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle1.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription1.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription1.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription1.Content}}
                    {{end}}
                  </p>
                </div>
                <div class="content-wrapper__content d-none">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle2.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription2.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription2.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription2.Content}}
                    {{end}}
                  </p>
                </div>
                <div class="content-wrapper__content d-none">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle3.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription3.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription3.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription3.Content}}
                    {{end}}
                  </p>
                </div>
                <div class="content-wrapper__content d-none">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle4.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription4.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription4.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription4.Content}}
                    {{end}}
                  </p>
                </div>
                <div class="content-wrapper__content d-none">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle5.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription5.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription5.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription5.Content}}
                    {{end}}
                  </p>
                </div>
                <div class="content-wrapper__content d-none">
                  <h2>{{ safe .blocks.FlipFlopRightImageInnerTitle6.Content}}</h2>
                  <p>
                    {{if .blocks.FlipFlopRightImageInnerDescription6.MarkdownEnabled}}
                      {{ safe_md .blocks.FlipFlopRightImageInnerDescription6.MarkdownContent}}
                    {{else}}
                      {{ safe .blocks.FlipFlopRightImageInnerDescription6.Content}}
                    {{end}}
                  </p>
                </div>
              </div>
              <div class="col-sm-6 text-right"><img src="/assets/images/request-access.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  {{ if .blocks.FlipFlopLeftImageTitle1.Content }}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 image-container" style="background: url('/assets/images/about-us.png') no-repeat right center;">{{.blocks.FlipFlopLeftImage1.Image.URL}}</div>
        <div class="col-sm-6">
          <div class="row align-items-center my-5">
            <div class="text-container w-100 text-left">
              <h2>{{ safe .blocks.FlipFlopLeftImageTitle1.Content}}</h2>
              <p>
                {{if .blocks.FlipFlopLeftImageDescription1.MarkdownEnabled}}
                  {{ safe_md .blocks.FlipFlopLeftImageDescription1.MarkdownContent}}
                {{else}}
                  {{ safe .blocks.FlipFlopLeftImageDescription1.Content}}
                {{end}}
              </p>
              <a href="{{.blocks.FlipFlopLeftImageButtonLink1.Content}}" class="btn btn-secondary-outline">{{ safe .blocks.FlipFlopLeftImageButtonLabel1.Content}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}

  <!-- Featured APIs -->
    {{ $featured_products := FeaturedProducts }}
    {{ if $featured_products }}
    <div class="row dark-to-light-bg p-5 featured-apis-wrapper">
      <div class="col-12 text-center text-white mb-5">
        <h2>{{ safe .blocks.FeaturedProductsTitle.Content}}</h2>
        <p>
          {{if .blocks.FeaturedProductsDescription.MarkdownEnabled}}
            {{ safe_md .blocks.FeaturedProductsDescription.MarkdownContent}}
          {{else}}
            {{ safe .blocks.FeaturedProductsDescription.Content}}
          {{end}}
        </p>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          {{ range $featured_products }}
            {{ render "catalogue_card" . }}
          {{ end }}
        </div>
        <div class="col-12 text-center mt-3">
          <a href="{{.blocks.FeaturedProductsLink.Content}}" class="btn btn-secondary-outline on-dark">{{ safe .blocks.FeaturedProductsLinkLabel.Content}}</a>
        </div>
      </div>
    </div>
    {{ else }}
      {{if $user }}
        {{ if eq $user.Role "provider-admin"}}
          <div class="row dark-to-light-bg p-5">
            <div class="col-md-12 text-center text-white">
              <h4>There are no featured API products yet</h4>
              <p>Create a product or mark one as featured</p>
            </div>
          </div>
        {{ end }}
      {{end}}
    {{ end }}
  <!-- end of Featured APIs -->

  <!-- Partners -->
  <div class="row light-to-dark-bg p-5 partners-wrapper">
    <div class="col-12 text-center text-white mb-5">
      <h2>{{ safe .blocks.PartnersTitle.Content}}</h2>
      <p>
        {{if .blocks.PartnersDescription.MarkdownEnabled}}
          {{ safe_md .blocks.PartnersDescription.MarkdownContent}}
        {{else}}
          {{ safe .blocks.PartnersDescription.Content}}
        {{end}}
      </p>
    </div>
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/6point.svg">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/ncs.svg">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/continuum.svg">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/orbit.svg">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/prodig.svg">
          </div>
        </div>
        <div class="col-lg-2 text-center">
          <div class="partners-wrapper__image-container">
            <img src="/assets/images/partners/velvet.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of Partners -->
</div>
