<!-- Template used in case of an internal error -->

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center mb-5">
      <img src="/assets/images/not-found.svg" />
      <h2>Internal error</h2>
      <strong>Try again. If the problem persists please contact us.</strong>
      <div class="mt-5">
        <a class="btn btn-primary" href="/">Back to homepage </a>
      </div>
    </div>
  </div>
</div>