<!-- Template used for viewing a particular Product -->

{{ $thisProduct := .product }}
{{ $user := CurrentUser req }}
{{$catalogues_for_product := GetCataloguesForProduct req $user $thisProduct.ID}}
{{ $allCatalogues := .catalogues }}
{{ $cataloguesLength := len $allCatalogues}}
{{ $hasDocs := false }}
{{ if $thisProduct.IsDocumentationOnly}}
	{{ if gt (len $thisProduct.SpecDetails) 0 }}
		{{ $initialAPI := index $thisProduct.SpecDetails 0}}
	{{ end }}
{{else}}
	{{ if gt (len $thisProduct.APIDetails) 0 }}
		{{ $initialAPI := index $thisProduct.APIDetails 0}}
	{{ end }}
{{end}}
{{ $initialAPIOasUrl := ""}}
{{ $initialAPIID := ""}}
{{ $initialTemplate := ""}}
{{ if $thisProduct.IsDocumentationOnly}}
	{{ $hasDocs = true}}
	
{{else}}
	{{ range $thisProduct.APIDetails }}
		{{ $oasfile := gt (.OASDocument.Base.Url | trim | length) 0 }}
		{{ $oasurl := gt (.OASUrl | trim | length) 0 }}
		{{ if or $oasfile $oasurl }}
			{{ $hasDocs = true}}
		{{ end }}
	{{ end }}
{{end}}
{{ $redoc := "product_doc_redoc" }}
{{ $asyncapi := "product_doc_asyncapi" }}

<div class="api-product-page-wrapper">
    <div class="container">
	<p class="mb-3">
	    <a href="/portal/catalogue-products" class="breadcrumb-link">
		< Back to catalogue overview </a>
	</p>
	{{ if .errors }}
	<div class="alert alert-danger" role="alert">
	    {{ range $category, $messages := .errors }}
            <i class="tyk-icon tykon tykon-warning "></i>
            {{ range $i, $message := $messages }}
            <br/>
            <div class="alert__content">{{ $message }}</div>
            {{ end }}
	</div>
	{{end}}
	{{ end }}
	{{ if .added }}
	<div class="alert alert-success" role="alert">
	    <i class="tyk-icon tykon tykon-check "></i>
	    <div class="alert__content">Success! This API Product was added to cart. <a href="/portal/private/cart/provision">Go to cart</a> to complete the request.</div>
	</div>
	{{ end }}
    </div>
    <div class="api-detail-background-color">
	<div class="api-product-page__header w-100 mt-5">
            <div class="maxh-268 minh-268 api-detail-background-color card d-flex flex-row {{ if $thisProduct.Logo.URL }}has-logo{{end}} container justify-content-between">
		<div class="left-side-card-body">
		    <div class="card-title mt-35 d-flex flex-row align-items-center">
			<h1 class="title-h1-bold">{{.product.ProductName}}</h1>
			<div class="pill-container {{ if not $thisProduct.Logo.URL }}ml-2 align-self-start{{end}} mb-2">
			    <div class="pill">
				<h5 class="text-os-semibold-12 m-0">{{ .product.AuthType }}</h5>
			    </div>
			</div>
		    </div>
		    <div class="minh-95 pr-4">
			{{if .product.Description }}
			<p class="text-regular-14 maxh-95 m-0">{{ .product.Description }}</p>
			{{end}}
		    </div>
		    <div class="api-product-page__header card__action-buttons">
			<!--	Not displaying access button for Products with Basic Auth 	-->
			{{if and (ne $.product.AuthType "ba") (ne $.product.AuthType "custom")}}
				{{ if $user }}
					<button type="button" class="btn btn-primary" id="access-button">
						<a href="#available-plans" class="access-btn-link">Access this product</a>
					</button>
				{{end}}
			{{end}}
		    </div>
		</div>
		{{ if $thisProduct.Logo.URL }}
		<img class="card-img-top img-fluid" src='{{$thisProduct.Logo.URL}}' alt="">
		{{ end }}
            </div>
	</div>
    </div>
    <div class="container mb-45">
	<div class="step-wrapper tabs-wrapper d-flex flex-row">
	    <span class="step active tab">OVERVIEW</span>
	    <span class="step tab">API SPECIFICATIONS</span>
	    <span class="step tab">GET STARTED</span>
	</div>
    </div>
    <div class="content-wrapper">
	   <div class="content-wrapper__content d-block container">
	    <div class="api-product-page__details">
		{{if .product.Content }}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
			<h2 class="title-bold">More info</h2>
		    </div>
		    <div class="api-product-page__info-description more-info-text">
			<p>{{ safe .product.Content }}</p>
		    </div>
		</div>
		{{end}}
		{{if len .product.Scopes }}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
			<h2 class="title-bold">Scopes</h2>
		    </div>
		    <div class="api-product-page__info-description">
			<ul class="pl-3">
			    {{ range .scopes }}
			    <li> {{ . }} </li>
			    {{end}}
			</ul>
		    </div>
		</div>
		{{end}}
		{{ $upstreamURL := ProviderUpstreamURL req $thisProduct.ProviderID }}
		{{if $upstreamURL }}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
			<h2>Base URL</h2>
		    </div>
		    <div class="api-product-page__info-description">
			<p class="api-product-page__info-description__base-url copy">
			    {{ $upstreamURL }}
			    <i class="tyk-icon tykon tykon-copy ml-3" data-copy-value="{{ $upstreamURL }}"></i>
			</p>
		    </div>
		</div>
		{{end}}
		{{ $apisLength := len .product.APIDetails}}
		{{$lastApi := sub $apisLength 1}}
		{{ if gt $apisLength 0}}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
			<h2 class="title-bold">APIs available in this product</h2>
		    </div>
		    <div class="api-product-page__info-description flex-column">
			<div class="row m-0 justify-content-center">
			    {{ range $index, $api := .product.APIDetails }}
			    <div class="product-api-details col-xl-3 labeled-card d-flex flex-column align-items-center {{if and (ge $index 0) (lt $index $lastApi)}}mr-35{{end}}">
				<div class="labeled-card__title mb-4">
				    <h3 class="mb-0">{{ $api.Name }}</h3>
				</div>
				<div>
				    <p class="text-regular-14 listen-path-text"> Listen path:
					<span class="text-open-sans-semibold">{{ $api.ListenPath }}</span></p>
				</div>
				<div class="mt-12">
				    {{if not (eq $api.Description "")}}
				    <span class="m-0 text-open-sans-bold">Description:</span>
				    <p class="api-description-text text-regular-14" data-description="{{$api.Description}}">{{safe (TruncateString $api.Description 60)}}</p>
				    {{end}}
				</div>
			    </div>
			    {{ end }}
			</div>
		    </div>
		</div>
		{{end}}
<!--	Not displaying plans for Products with Basic Auth 	-->
		{{if and (ne $.product.AuthType "ba") (ne $.product.AuthType "custom")}}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
			<h2 class="title-bold" id="available-plans">Plans available for subscription</h2>
			<p class="text-regular-14">These different plans are available to subscribe this product to.</p>
		    </div>
		    <div class="api-product-page__info-description flex-column">
			<div class="row m-0 justify-content-center">
			    {{ $plansLength := len .unique_plans }}
			    {{$lastPlan := sub $plansLength 1}}
                            {{ if eq $plansLength 0 }}
                            <i>no plans available</i>
                            {{ else }}
                            {{ range $index,$plan := .unique_plans }}
                            {{$plan_id := .ID}}
                            <div class="col-xl-3 labeled-card-plan {{if and (ge $index 0) (lt $index $lastPlan)}}mr-4{{end}} mb-3">
				<div class="mt-43">
                                    <h2 class=".text-open-sans-bold-20 dark">{{$plan.PlanName}}</h2>
				</div>
				<div class="mt-3 rate-limit-and-quota">
                                    <p class="text-regular-14 m-0">Quota: {{ $plan.FormatQuota }}</p>
                                    <p class="text-regular-14 m-0">Rate: {{ $plan.FormatRateLimit }}</p>
				</div>
				<div class="mt-4">
                                    {{ if $user }}
                                    {{if eq (len $catalogues_for_product) 1}}
                                    {{range $catalogues_for_product}}
                                    <form method="post" id="add-to-cart-form-b">
                                        <input type="hidden" name="product_id" value={{$thisProduct.ID}}>
                                        <input type="hidden" name="catalogue_id" value="{{ .ID }}">
                                        <input type="hidden" name="plan_id" value="{{$plan_id}}">
                                        <button type="submit" class="access-with-plan" id="add-to-cart-btn" data-single-catalogue="true">ACCESS WITH THIS PLAN</button>
                                    </form>
                                    {{end}}
                                    {{else}}
                                    <button type="button" class="access-with-plan" data-toggle="modal" data-target="#selectCatalogueForPlan{{$plan_id}}">ACCESS WITH THIS PLAN</button>
                                    <form method="post" id="add-to-cart-form-b">
					<div class="modal fade" id="selectCatalogueForPlan{{$plan_id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
						<div class="modal-content p-2">
						    <div class="modal-header justify-content-center">
							<h2 class="modal-title">Select a Catalogue</h2>
						    </div>
						    <div class="modal-footer">
							<div class="table-wrapper">
							    <table class="table">
								<thead>
								    <tr>
									<th>Catalogue</th>
									<th class="actions-cell"></th>
								    </tr>
								</thead>
								<tbody>
								    {{ range $catalogues_for_product }}
								    <tr>
									<td> {{ .Name }}</td>
									<td class="text-center">
									    <input type="radio" product-id="{{$thisProduct.ID}}" class="catalogue-input-radio" name="catalogue_id" value="{{ .ID }}" />
									</td>
								    </tr>
								    {{ end }}
								    <input type="hidden" name="product_id" value="{{$thisProduct.ID}}" class="product-input-radio" />
								    <input type="hidden" name="plan_id" value="{{$plan_id}}">
								</tbody>
							    </table>
							</div>
							<div class="pt-2">
							    <button type="button" class="btn btn-secondary-outline" data-dismiss="modal">Cancel</button>
							    <button type="submit" class="btn btn-primary" id="add-to-cart-btn">Add to cart</button>
							</div>
						    </div>
						</div>
                                            </div>
					</div>
                                    </form>
                                    {{end}}
                                    {{end}}
				</div>
                            </div>
                            {{end}}
                            {{ end }}
			</div>
		    </div>
		</div>
		{{end}}

		<!-- Related Blog posts -->
		{{if .posts}}
		<div class="api-product-page__info">
		    <div class="api-product-page__info-title">
				<h2 class="title-bold">Related Blog Content</h2>
		    </div>
		    <div class="api-product-page__posts flex-column">
				<div class="row m-0 justify-content-center">
					{{$postsLength := len .posts}}
					{{$lastPost := sub $postsLength 1}}
					{{ if eq $postsLength 0 }}
						<i>no posts available</i>
					{{ else }}
						{{ range $index, $post := .posts }}
							{{$post_id := .ID}}
							<div class="col-xl-3 shadow-lg labeled-card-post {{if and (ge $index 0) (lt $index $lastPost)}}mr-4{{end}} mb-3">
								<div class="text-uppercase text-regular-16 m-0 product-post-header">
									{{.CreatedAt | date "2 Jan, 2006" }} - {{.Author.DisplayName}}
								</div>
								<div class="mt-20">
									<h2 class="title-h2-bold dark labeled-card-post-title">{{.Title}}</h2>
								</div>
								<div class="mt-3 rate-limit-and-quota product-category">
									{{range $indx, $category := .Categories}}
										<div class="text-regular-14 m-0">{{.Name}}</div>
									{{end}}
								</div>
								<div class="mt-4 keep-reading">
									<a href="{{.URL}}" class="btn keep-reading-btn">KEEP READING</a>
								</div>
							</div>
						{{end}}
					{{end}}
				</div>
		    </div>
		</div>
		{{end}}
		<!-- End Related blog posts -->
            </div>
	</div>
	<div>
	    <div class="content-wrapper__content d-none">
		{{if $hasDocs}}
		<div class="container api-product-page_spec">
		    <p>Select an API</p>
		    <div class="d-flex flex-row justify-content-between align-items-center mt-1 mb-5 pb-3">
				<select id="OasApiSelect">
					{{ $docArray := $thisProduct.APIDetails}}
					{{ if $thisProduct.IsDocumentationOnly}}
						{{ range $index, $spec_detail := $thisProduct.SpecDetails }}
						{{ $oasfile := gt ($spec_detail.OASDocument.Base.Url | trim | length) 0 }}
						{{ $oasurl := gt ($spec_detail.OASUrl | trim | length) 0 }}
						{{ if or $oasfile $oasurl }}
							{{$url := ""}}
							{{if $oasfile }}
								{{$url = .OASDocument.Base.Url}}
							{{else}}
								{{$url = .OASUrl}}
							{{end}}
							{{$template := ProductDocTemplate req $thisProduct.Path $spec_detail.SpecAlias }}
							<option value="{{$spec_detail.SpecAlias}}-{{$url}}" data-template="{{$template}}">{{$spec_detail.SpecAlias}}</option>
							{{if eq $initialAPIOasUrl ""}}{{ $initialAPIOasUrl = $url }}{{end}}
							{{if eq $initialAPIID ""}}{{ $initialAPIID = $spec_detail.SpecAlias }}{{end}}
							{{if eq $initialTemplate ""}}{{ $initialTemplate = $template }}{{end}}
						{{end}}
					{{end}}
					{{else}}	
						{{ range $index, $api_detail := $thisProduct.APIDetails }}
							{{ $oasfile := gt ($api_detail.OASDocument.Base.Url | trim | length) 0 }}
							{{ $oasurl := gt ($api_detail.OASUrl | trim | length) 0 }}
							{{ if or $oasfile $oasurl }}
								{{$url := ""}}
								{{if $oasfile }}
									{{$url = .OASDocument.Base.Url}}
								{{else}}
									{{$url = .OASUrl}}
								{{end}}
								{{$template := ProductDocTemplate req $thisProduct.Path $api_detail.APIID }}
								<option value="{{$api_detail.APIID}}-{{$url}}" data-template="{{$template}}">{{$api_detail.Name}}</option>
								{{if eq $initialAPIOasUrl ""}}{{ $initialAPIOasUrl = $url }}{{end}}
								{{if eq $initialAPIID ""}}{{ $initialAPIID = $api_detail.APIID }}{{end}}
								{{if eq $initialTemplate ""}}{{ $initialTemplate = $template }}{{end}}
							{{end}}
						{{end}}
					{{end}}
				</select>
				<div class="oas-display-content-download-button">
					<form name="oas_form" method="get" data-path="/portal/catalogue-products/{{$thisProduct.Path}}" id="display-download-button" action="/portal/catalogue-products/{{$thisProduct.Path}}/{{$initialAPIID}}/docs/download">
					<button class="download-oas-button" type="submit">DOWNLOAD SPEC</button>
					</form>
				</div>
		    </div>
		</div>

        <div id="api_doc_wrapper">
		{{if eq $initialTemplate $redoc}}
            <div id="redoc-wrapper">
            <redoc hide-download-button></redoc>
            </div>
        {{else if eq $initialTemplate $asyncapi}}
            <div id="asyncapi"></div>

            <script>
                AsyncApiStandalone.render({
                    schema: {
                        url: '{{$initialAPIOasUrl}}',
                        options: { method: "GET", mode: "cors" },
                    },
                    config: {
                        "show": {
                            "sidebar": false,
                            "info": true,
                            "operations": true,
                            "servers": true,
                            "messages": true,
                            "schemas": true,
                            "errors": true
                        },
                        "expand":{
                            "messageExamples": false
                        },
                        "sidebar": {
                            "showServers": "byDefault",
                            "showOperations": "byDefault"
                        }
                        },
                    },
                    document.getElementById('asyncapi')
                );
            </script>
        {{else}}
        <div id="oas-display-stoplight">
        <elements-api apiDescriptionUrl="{{$initialAPIOasUrl}}" router="hash" layout="responsive" hideExport="true"/>
        </div>
        {{end}}
        </div>
		{{else}}
		<div class="container">
		    <div class="alert alert-warning mt-5" role="alert">
			<i class="tyk-icon tykon tykon-warning "></i>
			<div class="alert__content">
			    There's no specifications attached
			</div>
		    </div>
		</div>
		{{end}}
	    </div>


	    <div class="content-wrapper__content d-none container">
		{{if gt (len $thisProduct.Docs) 0}}
		<div class="container d-flex d-row mt-60">
          <div class="step-wrapper-api-docs d-flex flex-column">
            {{range $index,$doc := $thisProduct.Docs}}
              <span class="step text-regular-14 {{if eq $index 0}}active{{end}}">{{$doc.Title}}</span>
            {{end}}
          </div>
          <div class="content-wrapper-api-docs ml-110">
            {{range $index,$doc := $thisProduct.Docs}}
              <div class="content-wrapper__content-api-docs {{if eq $index 0}}d-block{{else}}d-none{{end}}">
                <h3 class="text-os-bold-17 dark mb-50">{{$doc.Title}}</h3>
              {{if and $doc.MarkdownEnabled (gt (len $doc.MarkdownContent) 0)}}
                <div id="set-markdown-content-{{$index}}" class="api-docs-text">
				 {{safe_md $doc.MarkdownContent}}
                </div>
              {{else}}
                <div class="api-docs-text">
                 {{safe $doc.Content}}
                </div>
              {{end}}
              </div>
            {{end}}
          </div>
        </div>
		{{else}}
		<div class="alert alert-warning mt-5" role="alert">
		    <i class="tyk-icon tykon tykon-warning "></i>
		    <div class="alert__content">
			There are currently no API Products documentation available
		    </div>
		</div>
		{{end}}
	    </div>

	</div>
    </div>
    <div class="d-none" id="success-msg">Value has been copied successfully</div>
</div>
