<div class="private-portal-wrapper">
    <div class="container">
        <div class="card first-invite-card">
            <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
                <h2 class="first-user-title">Your organisation request is still pending.</h2>
                <span class="first-user-paragraph">
                   You'll be able to invite users once your organisation is accepted.
                </span>
            </div>
        </div>
    </div>
</div>