<div class="private-portal-wrapper">
    <div class="container">
        <div class="card first-invite-card">
            <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
                <h2 class="first-user-title">First, you need to create an organisation</h2>
                <span>
                   In order to start inviting users to collaborate with you'll need to create an organisation.
                </span>
                <span>
                    <a id="create-org-btn" class="btn btn-primary" href="/portal/private/organisation">Create an Organisation</a>
                </span>
                <span>
                 OR
                  <a href="#" class="learn-text"> Learn more</a>
                  <a href="#"><i class="bi bi-box-arrow-up-right learn-icon"></i></a>
              </span>
            </div>
        </div>
    </div>
</div>
