<div class="private-portal-wrapper">
  <div class="container">
    <div class="card first-invite-card">
        <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
            <h2 class="first-user-title">You haven’t yet invited any users to this organisation</h2>
                <span class="first-user-paragraph">
                    Get more work done by inviting someone to collaborate with
                </span>
                <span>
                    <a class="btn btn-primary" href="users/invite">
                          <i class="tyk-icon tykon"></i>
                         <span>invite your first user</span>
                    </a>
                </span>
              <span class="first-user-paragraph">
                 OR
                  <a href="#" class="learn-text"> Learn more</a>
                  <a href="#"><i class="bi bi-box-arrow-up-right learn-icon"></i></a>
              </span>
        </div>
    </div>
  </div>
</div>