version: '3.3'
services:
  tyk-mdcb:
    image: tykio/tyk-mdcb-docker:${MDCB_VERSION:-latest}
    networks:
      - tyk
    volumes:
      - ./deployments/mdcb/volumes/tyk-mdcb/tyk_sink.conf:/opt/tyk-sink/tyk_sink.conf
    environment:
      - TYK_MDCB_LICENSE=${MDCB_LICENCE:?Please set MDCB_LICENCE in .env}
      - TYK_LOGLEVEL=${TYK_LOGLEVEL:-info}
    depends_on:
      - tyk-redis
      - tyk-mongo
  tyk-worker-gateway:
    image: tykio/tyk-gateway:${GATEWAY_WORKER_VERSION:-latest}
    ports:
      - 8084:8080
    networks:
      - tyk
    environment:
      - TYK_INSTRUMENTATION=${INSTRUMENTATION_ENABLED:-0}
      - TYK_GW_TRACER_ENABLED=${TRACING_ENABLED:-0}
      - TYK_GW_SLAVEOPTIONS_APIKEY=${MDCB_USER_API_CREDENTIALS:?}
    volumes:
      - ./deployments/mdcb/volumes/tyk-worker-gateway/tyk.conf:/opt/tyk-gateway/tyk.conf
      - ./deployments/tyk/volumes/tyk-gateway/certs:/opt/tyk-gateway/certs
      - ./deployments/tyk/volumes/tyk-gateway/middleware:/opt/tyk-gateway/middleware
    depends_on:
      - tyk-worker-redis
      - tyk-mdcb
      - tyk-dashboard
  tyk-worker-redis:
    image: redis:6.0.4
    volumes:
      - tyk-worker-redis-data:/data
    networks:
      - tyk
    
volumes:
  tyk-worker-redis-data:
