<div class="dashed-table-border mb-4">
  <div id="consumer-users" hidden>
    <label class="heading-medium text-default">Role Permissions</label>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr class="heading-small">
            <th>Permissions</th>
            <th>Super Admin</th>
            <th>Team Member</th>
          </tr>
        </thead>
        <tbody class="text-regular-14">
          <tr>
            <td>Invite and delete users from the org</td>
            <td><i class="tykon tykon-check"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>Change roles for users</td>
            <td><i class="tykon tykon-check"></i></td>
            <td></td>
          </tr>
          <tr>
            <td>View credentials</td>
            <td><i class="tykon tykon-check"></i></td>
            <td><i class="tykon tykon-check"></i></td>
          </tr>
          <tr>
            <td>Revoke or reset credentials</td>
            <td><i class="tykon tykon-check"></i></td>
            <td><i class="tykon tykon-check"></i></td>
          </tr>
          <tr>
            <td>Delete Apps</td>
            <td><i class="tykon tykon-check"></i></td>
            <td><i class="tykon tykon-check"></i></td>
          </tr>
          <tr>
            <td>Create Apps</td>
            <td><i class="tykon tykon-check"></i></td>
            <td><i class="tykon tykon-check"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
