
<div class="dashed-border">
    <div id="consumer-admin" hidden>
        <div class="row role-caption">
            <img src="/assets/images/icons/edit.png" class="caption-tiem"/>
            <h4 class="users-secondary-title">Super admin permissions</h4>
        </div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i><b>Invite and delete</b> users from the org</div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i><b>Change roles</b> for users</div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i><b>View</b> credentials</div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i><b>Revoke or reset</b> credentials</div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i></i> Delete <b>Apps</b></div>
    </div>

    <div id="consumer-team-member" hidden>
        <div class="row role-caption">
            <img src="/assets/images/icons/edit.png" class="caption-tiem"/>
            <h4 class="users-secondary-title">Team member permissions</h4>
        </div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i>Create <b>Apps</b></div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i> View <b>Credentials</b></div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i> <b>Reset/Revoke</b> credentials</div>
        <div class="role-caption"><i class="tykon tykon-check caption-item"></i> Delete <b>Apps</b></div>
    </div>
</div>