<!-- Template used in case of a '404 not found' error -->
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center mb-5">
			<img src="/assets/images/not-found.svg" />
			<h2>404</h2>
			<strong>Page not found.<a href="/"> Back to homepage </a></strong>
		</div>
	</div>
</div>