<div class="private-portal-wrapper">
    <div class="container">
        <div class="card first-invite-card">
            <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
                <h1 class="heading-xlarge mb-3">Success! You've created an organisation</h1>
                <p class="text-default-subdue mb-4">
                    Get started by inviting your first user to collaborate with.
                </p>
                <div class="mb-3">
                    <a class="btn btn-primary" href="users/invite">
                          <i class="tyk-icon tykon tykon-plus"></i>
                         <span>Invite your first user</span>
                    </a>
                </div>
                <p class="text-default-subdue">
                 OR
                  <a href="#" class="breadcrumb-link"> Learn more</a>
                  <a href="#"><i class="bi bi-box-arrow-up-right learn-icon"></i></a>
              </p>
            </div>
        </div>
    </div>
</div>