<div class="docs-container">
  <div class="card mt-4">
    <div class="card-body">
      <h3 class="card-title"><a href="/portal/catalogue-products/{{.Path}}">{{.Name}}</a></h3>
      <p class="card-text">
        {{.Description}}
      </p>
    </div>
  </div>
  <div>
    <elements-api 
        apiDescriptionUrl='{{.Url}}'
        router="hash"
        layout="responsive"
    />
  </div>
</div>