<!-- Template used to view & edit the API consumer profile -->

{{ $user := CurrentUser req }}
{{ $userEmail := $user.Email}}
<div class="private-portal-wrapper">
  <div class="container">
    {{ if .errors }}
      {{ range $key, $errs := .errors }}
        <div class="alert alert-warning cart-error" role="alert">
          <i class="tyk-icon tykon tykon-warning "></i>
          <div class="alert__content">
            <strong>{{$key}}</strong>
            <ul>
              {{ range $errs }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    {{ end }}
    <form method="post">
      <div>
        <h1 class="page-title-wrapper heading-large mb-5">Profile settings</h1>
        {{ if .error }}
          <div class="alert alert-danger" role="alert">
            <i class="tyk-icon tykon tykon-warning "></i>
            <div class="alert__content">{{ .error }}</div>
          </div>
        {{ end }}
        {{ if .done }}
          <div class="alert alert-success" role="alert">
            <i class="tyk-icon tykon tykon-check "></i>
            <div class="alert__content">An email to reset password has been sent. Check your inbox.</div>
          </div>
        {{ end }}
      </div>
      <div class="profile-wrapper__card-section">
        <div class="d-flex flex-row justify-content-between align-items-start flex-wrap mb-2 mt-4">
          <h2 class="m-0 heading-medium">Personal Details</h2>
          <div class="cta-btns-wrapper">
            <button type="button" class="btn btn-primary-outline enable-editing d-block" data-action="edit">
              Edit details
            </button>
            <div class="edit-cta d-none disable-editing">
              <button type="button" class="btn btn-secondary-outline" data-action="cancel">
                Cancel
              </button>
              <input type="hidden" name="mode" value="update" />
              <input type="hidden" value="{{ $user.ID}}">
              <button type="submit" class="btn btn-primary" data-action="save">Save</button>
            </div>
          </div>
        </div>
        <div class="card p-0 mb-4">
          <div class="card-footer__static-data d-block no-border w-100">
            <div class="col-lg-12">
              <div class="d-flex flex-row justify-content-between align-items-start flex-wrap p-3 requests-row-section__info">
                <div class="d-flex flex-column pr-3">
                  <h6 class="heading-small text-default mr-4">Name:</h6>
                </div>
                <div class="text-regular-14 private-portal-user-details">
                  {{ $user.DisplayName }}
                </div>
              </div>
            </div>
            <div class="col-lg-12 requests-row-section">
              <div class="d-flex flex-row justify-content-between align-items-start flex-wrap p-3 requests-row-section__info">
                <div class="d-flex flex-column pr-3">
                  <h6 class="heading-small text-default mr-4">Email:</h6>
                </div>
                <div class="text-regular-14 private-portal-user-details">
                  {{ $user.Email }}
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="d-flex flex-row justify-content-between align-items-start flex-wrap p-3 requests-row-section__info">
                <div class="d-flex flex-column pr-3">
                  <h6 class="heading-small text-default mr-4">Password:</h6>
                </div>
                <div class="text-regular-14">
                  *************
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer__dynamic-data d-none w-100 p-3">
            <div class="mb-4">
              <label class="heading-small text-default">First name:</label>
              <input type="text" name="first" class="form-control" placeholder="First *" value="{{$user.First}}" />
            </div>
            <div class="mb-4">
              <label class="heading-small text-default">Last name:</label>
              <input type="text" name="last" class="form-control" placeholder="Last *" value="{{$user.Last}}" />
            </div>
            <div class="mb-4">
              <label class="heading-small text-default">Email:</label>
              <input type="email" name="email" class="form-control" placeholder="Your Email *" value="{{$user.Email}}" readonly />
            </div>
            {{if $user.IsPasswordProvider}}
              <div class="mb-4">
                <label class="heading-small text-default">Current password:</label>
                <input autocomplete="new-password" type="password" name="current_password" class="form-control" placeholder="Your current Password *" value=""/>
              </div>
              <div class="mb-4">
                <label class="heading-small text-default">New password:</label>
                <input autocomplete="new-password" type="password" name="password1" class="form-control" placeholder="Your Password *" value=""/>
              </div>
              <div class="mb-4">
                <label class="heading-small text-default">Confirm new password:</label>
                <input autocomplete="new-password" type="password" name="password2" class="form-control" placeholder="Your Password *" value=""/>
              </div>
            {{end}}
          </div>
        </div>
      </div>
      <div class="mb-5">
        <h2 class="heading-medium mb-3">Account Information</h2>
        <div class="card p-0 mb-4">
          <div class="col-lg-12">
            <div class="d-flex flex-row justify-content-between align-items-start flex-wrap p-3 requests-row-section__info">
              <div class="d-flex flex-column pr-3">
                <h6 class="heading-small text-default">Member since:</h6>
              </div>
              <div class="text-regular-14">
                {{ $user.CreatedAt | date "2 Jan, 2006 15:04" }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h2 class="heading-medium mb-3">Advanced Settings</h2>
        <div class="card p-0 mb-4">
          <div class="card-footer m-0 p-4 d-flex flex-row w-100 justify-content-between">
            <div>
              <h4 class="heading-medium text-default">Delete this profile</h4>
              <h5 class="body-xlarge-default">Delete all your apps and credentials</h5>
            </div>
            <div>
              <button type="button" class="btn btn-danger-outline" data-toggle="modal" data-target="#deleteProfileModal">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      </form>
  </div>
</div>

{{ render "confirmation_modal" (dict
  "id" "deleteProfileModal"
  "title" "Delete profile?"
  "body" (raw "<p class='body-xlarge-default'>If deleting this profile, all your apps and access credentials will also be deleted. This action cannot be undone.</p><p class='body-xlarge-default'>Do you wish to continue?</p>")
  "confirmText" "Delete"
  "confirmClass" "btn-danger"
  "showIcon" true
  "useForm" true
  "hiddenFields" (dict "mode" "delete")
) }}