<div class="private-portal-wrapper">
  <div class="container">
    <p class="mb-3 mt-3">
      <a href="/portal/private/users" class="breadcrumb-link">
        < Back to user list
      </a>
    </p>

    {{ if .errors }}
      {{ range $key, $errs := .errors }}
        <div class="alert alert-warning cart-error" role="alert">
          <i class="tyk-icon tykon tykon-warning "></i>
          <div class="alert__content">
            <strong>{{$key}}</strong>
            <ul>
              {{ range $errs }}
                <li>{{.}}</li>
              {{ end }}
            </ul>
          </div>
        </div>
      {{ end }}
    {{ end }}

    <form action="invite" method="post" id="user-invite">
      {{ if .error }}
        <div class="alert alert-danger" role="alert">
          <i class="tyk-icon tykon tykon-warning "></i>
          <div class="alert__content">{{ .error }}</div>
        </div>
      {{ end }}
      <div class="apps-wrapper__card-section mt-5">
        <h1 class="heading-large mb-2">Invite a new User</h1>
        <p class="text-regular-14 text-default-subdue mb-4">Please fill in the details of the new user and assign a role, an invitation email will be sent with a registration link.</p>

        <div class="card p-0 mb-4">
          <div class="card-footer m-0 p-4">
            <div class="row mb-4">
              <div class="col-6">
                <label class="heading-small text-default">Name:</label>
                <input type="text" class="form-control" name="first"  value="{{.first}}" placeholder="Name" required autofocus />
              </div>
              <div class="col-6">
                <label class="heading-small text-default">Last name:</label>
                <input type="text" class="form-control" name="last" value="{{.last}}" placeholder="Last name" required autofocus/>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-12">
                <label class="heading-small text-default">Email:</label>
                <input class="form-control" name="email" value="{{.email}}" placeholder="Email" required/>
              </div>
            </div>

            <div class="col-12 mb-4">
              {{ $roles := GetUserInvitationRoles }}
              {{ if $roles }}
                <label class="heading-small text-default">Role:</label>
                <div class="row">
                  {{ range $role := $roles }}
                    <div class="col-6">
                      <div class="form-check d-flex align-items-center">
                        <input
                          class="form-check-input me-2"
                          type="radio"
                          name="role"
                          id="{{ $role.ID }}"
                          value="{{ $role.ID }}"
                          required
                        />
                        <label class="text-regular-14 form-check-label" for="{{ $role.ID }}">
                          {{ $role.DisplayName }}
                        </label>
                      </div>
                    </div>
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        </div>
        {{ render "role_detail_table" . }}
        <div class="mb-4">
          <label class="heading-medium text-default">Teams</label>
          <p class="text-regular-14 text-default-subdue">Select all the teams this user should be part of.</p>
          {{ range $team := .teams }}
            <div class="form-check mb-2">
              <input
                class="form-check-input"
                type="checkbox"
                value="{{ $team.ID }}"
                id="team-{{ $team.ID }}"
                name="teams"
                {{ if $team.Default }}checked{{ end }}
              />
              <label class="form-check-label text-regular-14 text-default-subdue" for="team-{{ $team.ID }}">
                {{ $team.Name }}
              </label>
            </div>
          {{ end }}
        </div>
        <div class="form-group text-right mt-4">
          <a id="user_invite_cancel" class="btn btn-secondary-outline" href="/portal/private/users">Cancel</a>
          <input type="submit" name="submit" class="btn btn-primary" value="Send invite" />
        </div>
      </div>
    </form>
  </div>
</div>