<div class="private-portal-wrapper">
    <div class="container">
        <div class="card first-invite-card">
            <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
                <h1 class="heading-large mb-3">First, you need to create an organisation</h1>
                <p class="text-regular-14 text-default-subdue mb-4">
                   In order to start inviting users to collaborate with you'll need to create an organisation.
                </p>
                <div class="mb-3">
                    <a id="create-org-btn" class="btn btn-primary" href="/portal/private/organisation">Create an Organisation</a>
                </div>
                <p class="text-regular-14 text-default-subdue">
                 OR
                  <a href="#" class="breadcrumb-link"> Learn more</a>
                  <a href="#"><i class="bi bi-box-arrow-up-right learn-icon"></i></a>
              </p>
            </div>
        </div>
    </div>
</div>
