<div class="private-portal-wrapper">
    <div class="container">
        <div class="card first-invite-card">
            <div class="card-body text-center d-flex flex-column align-content-center justify-content-center p-4">
                <h2 class="heading-large mb-3">Your organisation request is still pending.</h2>
                <p class="text-regular-14 text-default-subdue">
                   You'll be able to invite users once your organisation is accepted.
                </p>
            </div>
        </div>
    </div>
</div>