{{ $errFirst := "" }}
{{ $errLast := "" }}
{{ $errEmail := "" }}
{{ $errPassword1 := "" }}
{{ $errPassword2 := "" }}
{{ $genericError := "" }}
{{ $customAttrs := .customAttributes }}
{{ $data := . }}

{{ if .errors }}
  {{ range $field, $errs := .errors }}
      {{ range $errs }}
        {{if eq $field "last" }} {{ $errLast = . }}
        {{else if eq $field "first" }} {{ $errFirst = . }}
        {{else if eq $field "password1" }} {{ $errPassword1 = . }}
        {{else if eq $field "password2" }} {{ $errPassword2 = . }}
        {{else if eq $field "email" }} {{ $errEmail = . }}
        {{else}} {{ $genericError = .}}
        {{end}}
      {{ end }}
  {{ end }}
{{ end }}

<div class="d-flex flex-column align-items-center justify-content-center flex-grow-1 login-page-wrapper">
  <a href="/" class="logo d-flex">
    <img src="/assets/images/new-logo.svg" alt="Tyk Logo" />
  </a>
  <div class="login-form-wrapper">
    <label class="title-inter login-form-title mt-3">Create an account</label>
    {{ if or .done .pending }}
      <div class="alert alert-{{ if .done }}success{{else}}info{{end}}" role="alert">
        {{ if .done }}
          <i class="tyk-icon tykon tykon-check "></i>
          <div class="alert__content">You've successfully registered. You can now login.</div>
        {{ else }}
          <i class="tyk-icon tykon tykon-warning "></i>
          <div class="alert__content">The registration request has been sent, you'll recieve an email once it's been approved.</div>
        {{ end }}
      </div>
      {{if .done}}
        <p class="text-center mt-4">
          <a class="btn portal-primary" href="{{LoginURL}}">GO TO LOG IN</a>
        </p>
      {{end}}
    {{ else }}
      <form action="/auth/password/register{{ if .invite_id }}?token={{.invite_id}}{{ end }}" method="post" class="mb-3">
        {{if ne $genericError "" }}
          <div class="alert alert-danger" role="alert">
            <i class="tyk-icon tykon tykon-warning "></i>
            <div class="alert__content">{{$genericError}}</div>
          </div>
        {{end}}
        <div class="form-group">
          <label class="form-label login-form-label mb-1">Email address</label>
          <input type="text" name="email" class="form-control login-form-input {{if ne $errEmail "" }}has-error{{end}}"/>
          {{if ne $errEmail "" }}
            <p class="invalid-feedback d-block">{{ $errEmail }}</p>
          {{end}}
        </div>
        <div class="form-group">
          <label class="form-label login-form-label mb-1">First name</label>
          <input type="text" name="first" class="form-control login-form-input {{if ne $errFirst "" }}has-error{{end}}"/>
          {{if ne $errFirst "" }}
            <p class="invalid-feedback d-block">{{ $errFirst }}</p>
          {{end}}
        </div>
        <div class="form-group">
          <label class="form-label login-form-label mb-1">Last name</label>
          <input type="text" name="last" class="form-control login-form-input {{if ne $errLast "" }}has-error{{end}}"/>
            {{if ne $errLast "" }}
              <p class="invalid-feedback d-block">{{ $errLast }}</p>
            {{end}}
        </div>
        <div class="form-group">
          <label class="form-label login-form-label mb-1">Password</label>
          <input type="password" name="password1" class="form-control login-form-input content-field {{if ne $errPassword1 "" }}has-error{{end}}" autocomplete="off" />
          {{if ne $errPassword1 "" }}
            <p class="invalid-feedback d-block">{{ $errPassword1 }}</p>
          {{end}}
        </div>
        <div class="form-group">
          <label class="form-label login-form-label mb-1">Re-enter password</label>
          <input type="password" name="password2" class="form-control login-form-input content-field {{if ne $errPassword2 "" }}has-error{{end}}" autocomplete="off" />
          {{if ne $errPassword2 "" }}
            <p class="invalid-feedback d-block">{{ $errPassword2 }}</p>
          {{end}}
        </div>
        <div class="form-group mb-4">
          <label class="form-label login-form-label mb-1 d-flex align-items-center"> Invite code
            <span class="help-icon mt-0 ml-1" data-toggle="tooltip" data-placement="right" title="When registering with an invite code you'd be assigned to a specific team and org within this developer portal.">
              <img src="../../assets/images/help.svg" >
            </span>
          </label>
          <input type="text" name="invite_id" class="form-control login-form-input" {{ if .invite_id }} style="pointer-events: none;" {{ end }} />
        </div>
        {{if $customAttrs}}
          {{ range $attr := $customAttrs }}
            {{if eq .Behaviour 3}}
              <input type="hidden" name="{{.Identifier}}" value=""/>
            {{else}}
              <div class="d-flex flex-column">
                <label class="form-label">{{.Name}} {{if .Required}}(Required){{else}}(Optional){{end}}</label>
                {{ if eq .Type 3}}
                  <div class="d-flex flex-row">
                    {{if eq .Behaviour 1}}
                      <input class="align-self-start mt-1" type="checkbox" name="{{.Identifier}}" {{if (index $data .Identifier)}}checked{{end}} value="true"/>
                      <label class="ml-2">{{safe .Description}}</label>
                    {{else}}
                      <label>{{safe .Description}}</label>
                    {{end}}
                  </div>
                {{end}}
                {{if or (eq .Type 1) (eq .Type 4)}}
                  {{if eq .Behaviour 1}}
                    <input class="form-control" type="text" name="{{.Identifier}}" value="{{ index $data .Identifier }}"/>
                    <small class="form-text text-muted ml-2">{{safe .Description}}</small>
                  {{else}}
                    <label>{{safe .Description}}</label>
                  {{end}}
                {{end}}
                {{if eq .Type 2}}
                  {{if eq .Behaviour 1}}
                    <select name="{{.Identifier}}">
                    <option value="" disabled selected>Select one {{.Name}}</option>
                    {{ $selected := (index $data .Identifier)}}
                    {{range $value := $attr.GetDropDownValues}}
                      {{if not (eq $value "")}}
                      <option value="{{$value}}" {{if eq $selected $value}}selected{{end}}>{{$value}}</option>
                      {{end}}
                    {{end}}
                    </select>
                    <small class="form-text text-muted ml-2">{{safe .Description}}</small>
                  {{else}}
                    <label>{{safe .Description}}</label>
                  {{end}}
                {{end}}
              </div>
            {{end}}
          {{end}}
        {{end}}
        <div class="form-group text-center mt-4">
          <input type="submit" name="submit" class="btn portal-primary" value="Register to developer portal" />
        </div>
        <div class="form-group text-center">
          <span class="text-regular-14 login-form-label login-form-info">Already a member?</span>
          <a href="{{LoginURL}}" class="brand-link login-form-label">Log in</a>
        </div>
      </form>
    {{ end }}
  </div>
</div>
