{
    "HostPort": 3001,
    "Database": {
        "Dialect": "sqlite3",
        "ConnectionString": "portal.db",
        "EnableLogs": false
    },
    "Blog": {
        "Enable": true
    },
    "Site": {
        "Enable": true
    },
    "LicenseKey": "REPLACE_VALUE_HERE"
}