/* Generic buttons */
button:focus {
	outline: none;
}

/* Restore dropdown caret for button dropdowns */
.btn.dropdown-toggle::after {
	content: "" !important;
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.btn {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	padding: 8px 16px;
	font-size: 14px;
	transition: none;
	line-height: 20px;
	border-radius: var(--tdp-border-radius);
	font-family:Inter-Medium, sans-serif;
	height: fit-content;
}

.btn.focus,
.btn:focus,
.btn:hover {
	outline: none;
  box-shadow: none;
}

.btn i+span {
  margin-left: 5px;
}

.btn + .btn {
  margin-left: 10px;
}

/* 
  Themed buttons
*/

/* Primary */

.btn-primary {
	background-color: var(--tdp-primary-btn-color);
	color: white;
	border: 1.2px solid var(--border-brand-default);
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
	background-color: var(--border-brand-default);
	border: 1.2px solid var(--border-brand-hover);
}

.btn:hover.btn-primary-link:hover {
  color: var(--tdp-primary-btn-color);
  text-decoration: underline;
}

.btn-primary-outline {
	border: 1.2px solid var(--tdp-primary-btn-color);
	background-color: transparent;
	color: var(--tdp-primary-btn-color);
}

.btn-primary-outline:hover {
	background-color: var(--surface-brand-hover);
	border: 1.2px solid var(--border-brand-default);
	color: var(--border-brand-default);
}

.portal-primary {
	background-color: var(--action-brand-default);
	color: white;
	border: 1px solid var(--border-brand-default);
	text-transform: none;
	padding: 8px 16px;
	font-family: Inter-Medium, sans-serif;
}

.portal-primary:focus,
.portal-primary:hover,
.portal-primary:not(:disabled):not(.disabled).active,
.portal-primary:not(:disabled):not(.disabled):active {
	background-color: var(--border-brand-default);
	color: white;
	border: 1px solid var(--border-brand-hover);
}

/* Secondary */
.btn-secondary {
	border: 1.2px solid var(--tdp-secondary-btn-border);
	background-color: var(--tdp-secondary-btn-color);
	color: var(--tdb-text-default-subdue);
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
	color: var(--tdp-text-color-extra-dark);
	background-color: var(--tdp-secondary-btn-hover-color);
	border: 1.2px solid var(--tdp-secondary-btn-hover-border);
	box-shadow: none;
}

.btn-secondary-outline {
	border: 1.2px solid var(--tdp-secondary-btn-border);
	background-color: transparent;
	color: var(--tdb-text-default-subdue);
}

.btn-secondary-outline:hover {
	color: var(--tdp-text-color-extra-dark);
	background-color: var(--surface-neutral-hover);
	border: 1.2px solid var(--tdp-secondary-btn-hover-border);
}

/* Warning */

.btn-warning {
	border: var(--tdp-warning-btn-border);
	background-color: var(--tdp-warning-btn-color);
	color: white;
}

.btn-warning:hover {
	color: white;
	background-color: var(--tdp-warning-dark);
}

.btn-warning-outline {
	border: var(--tdp-warning-outline-btn-border);
	background-color: transparent;
	color: var(--tdp-warning-btn-color);
}

.btn-warning-outline:hover {
	border: var(--tdp-warning-outline-btn-border);
	background-color: var(--tdp-warning-dark);
	color: white;
}

/* Danger */

.btn-danger {
	border: var(--tdp-danger-btn-border);
	background-color: var(--tdp-danger-btn-color);
	color: white;
}

.btn-danger:hover {
	color: white;
	background-color: var(--tdp-danger-dark);
	border: var(--tdp-danger-btn-hover-border);
}

.btn-danger-outline {
	border: var(--tdp-danger-outline-btn-border);
	background-color: transparent;
	color: var(--tdp-danger-btn-color);
}

.btn-danger-outline:hover {
	border: var(--tdp-danger-btn-border);
	background-color: var(--tdp-primary-danger-light);
	color: var(--tdp-danger-dark);
}

/*
  Sizes 
*/

.btn.btn-sm {
	padding: 4px 8px;
	line-height: 16px;
}

.btn-btn-md {
	padding: 8px 23px;
	font-size: var(--tdp-size-sm);
	line-height: 19px;
}

.btn.btn-lg {
	padding: 13px 23px;
	font-size: var(--tdp-size-md);
	line-height: 22px;
}

/* Button as link */
.btn-primary-link {
  background-color: transparent;
  color: var(--tdp-primary-btn-color);
}

.btn-primary-link:hover {
	background-color: var(--surface-brand-hover);
	border: 1.2px solid var(--surface-brand-hover);
	color: var(--border-brand-default);
}

.btn-secondary-link {
  background-color: transparent;
  color: var(--tdb-text-default-subdue);
}

.btn-secondary-link:hover {
	color: var(--tdp-text-color-extra-dark);
	border: 1.2px solid var(--surface-neutral-hover);
	background-color: var(--surface-neutral-hover);
}

/* Add to Cart dropdown button */
.view-docs-dropdown {
  padding: 0;
  border-radius: var(--tdp-border-radius);
  margin-top: 4px;
  border: 1px solid var(--tdp-primary-light);
}

/* On disabled state */
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
.btn-edit-user-detail {
	margin-right: -20px;
	background-color: transparent;
	color: var(--tdp-text-color);
	border: 2px solid transparent;
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;
	padding-left: 7px;
}

.btn-edit-user-detail:hover {
	color: var(--tdp-text-color);
}

.access-btn-link {
	text-decoration: none !important;
	color: white !important;
	font-family: Inter-Bold, sans-serif !important;
}
